body {
  font-family: Arial, sans-serif;
  background: #0a0c06 url(https://tse2.mm.bing.net/th/id/OIP.G2aPgO92Hy--TjZqUtmEowHaDL?rs=1&pid=ImgDetMain&o=7&rm=3) no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 700px;
  margin: 30px auto;
  background: #dfc6c6be;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 3px;
}

input, select, button {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

button {
  background: #020202;
  color: #f1f1f1;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #c53939;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

#plan h3 {
  margin-top: 20px;
  color: #000000;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
}

th, td {
  border: 1px solid #c9c9c9;
  padding: 8px;
  text-align: left;
}
