/* Estilo geral da página */
body {
  font-family: Arial, sans-serif;
  background-image: url('./imagem/GorilaFortaoAcademia.jpg'); /* imagem de fundo */
  background-repeat: no-repeat;  /* não repetir a imagem */
  background-position: center center; /* centralizar */
  background-size: cover; /* preencher a tela mantendo proporção */
  background-attachment: fixed; /* fixa a imagem ao rolar a página */
  margin: 0;
  padding: 0;
}


.container {
  max-width: 700px;
  margin: 30px auto;
  background: #dfc6c6be;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 3px;
}

input, select, button {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

/* Botões gerais */
button {
  background: #020202;
  color: #f1f1f1;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #c53939;
}

/* Área de botões de ação */
.buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

/* Títulos dos dias no plano */
#plano h3 {
  margin-top: 20px;
  color: #000000;
}

/* Botões de dias da semana */
.dia-btn {
  margin: 3px;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #333;
  background: #fff;
  color: #000;
  transition: 0.3s;
}

.dia-btn:hover {
  background: #ddd;
}

.dia-btn.selecionado {
  background: #4CAF50;
  color: #fff;
}

/* Tabelas do plano */
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 5px;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 5px;
  text-align: left;
}
